html {
  box-sizing: border-box
}
*
*::before, 
*::after { 
  
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}
body {
  display:flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-image: url('../assets/forest.png');
  font-family: 'Press Start 2P', cursive;
}
.card {
  color: white;
  margin: 25px;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  border: 2px solid gray;
}
.container {
  height: 100vh;
}
#decision-row {
  height: auto;
}
#prompt-row {
  height: 40%;
  padding: 20px;
}
#title-row {
  height: 20%;
  text-align: center;
  
}
.decision {
  height: fit-content;
  font-size: 15px;
  margin: 0;
  padding: 3px;
}
#situation {
  height: auto;
  font-size: 12px;
  padding: 5px;
  
}
.decision:hover{
  background-color: gray;
}
#title {
  font-size: 40px;
  font-weight: bold;
  color: rgb(253,236,201);
  text-shadow: 2px 2px 2px black;
  padding-top: 10px;
}
.start {
  text-align: center;
}
#strBtn {
  margin-top: 50px;
}
#sloth {
  align-content: center;
}