html {
  box-sizing: border-box
}
*
*::before, 
*::after { 
  
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}
body {
  display:flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-image: url('../assets/forest.png');
}
.card {
  color: white;
  margin: 25px;
  border-radius: 10px;
}
.container {
  height: 100vh;
}
#decision-row {
  height: auto;
}
#prompt-row {
  height: 50%;
}
#title-row {
  height: 20%;
  text-align: center;
}
.decision {
  height: fit-content;
  font-size: 15px;
  margin: 0;
  padding: 2px;
}
#situation {
  height: auto;
  font-size: 20px;
  padding: 5px;
  
}
.decision:hover{
  background-color: gray;
}